.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.default {
    padding: 100px 0;
}

.default .title {
    max-width: 1200px;
    margin: 0 auto 32px auto;
    padding: 0 15px;
}

.default .title h2 {
    font-size: 28px;
    font-weight: 500;
    margin: 0 0 50px 0;
    text-align: center;

}

.default .title p {
    font-size: 16px;
    font-weight: 400;

}

.default_btn {
    display: inline-block;
    padding: 12px 32px;
    color: #fff;
    font-size: 16px;
    background: #000;
}

.default_btn:hover {
    background: #fff;
    color: #000;
    transition: 0.5s;
}